// ============================================
// Main SCSS - Portfolio Styles

// 1. Configuration
@use "./variables" as *;
@use "./theme";

// 2. Base & Layout

@use "./scss/base.scss";
@use "./scss/header.scss";
@use "./scss/responsive.scss";

// 3. Components
@use "./scss/portfolio.scss";
@use "./scss/language-switcher.scss";
@use "./scss/publication.scss";

// 4. External Libraries & Fonts (after @use rules)
@import url("./globals.css");
@import "font-awesome/css/font-awesome.min.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("aos/dist/aos.css");


